<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="console">
            <!--<PatternLayout pattern="${sys:testProperty:-default} %m%n"/>-->
            <PatternLayout pattern="${sys:testProperty} %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>